
header {
    padding: 20px;
    font-size: 24px;
}

.team {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}


.member {
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.member:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.mission, .vision {
    margin: 40px auto;
    width: 80%;
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.mission:hover, .vision:hover {
    transform: translateY(-3px);
}

.mission h2, .vision h2 {
    color: #1e90ff;
    flex: 1;
    text-align: center;
    font-size: 3rem;
}

.mission-content, .vision-content {
    display: flex;
    align-items: center;
    font-size: 3rem;
}

.mission-text, .vision-text {
    flex: 1;
    text-align: center;
}

.mission-text p, .vision-text p {
    font-size: 1.4rem;
    line-height: 1.6;
    margin: 10px 0;
    color: #e0e0e0;
}

a {
    color: #1e90ff; 
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    transform: translateY(-5px);
    color: #1e90ff;
    text-decoration: none;
    text-shadow: 0 0 10px #1e90ff;
}

